.header {
  padding: 1rem;
  display: flex;
  background-color: #ededed;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: auto;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.modal {
  display: flex;
  visibility: hidden;
  overflow: hidden;
  align-items: center;
  gap: 5px;
  opacity: 0;
  height: 0;
  width: 0;
  margin: 0;
  transition:
    opacity 0.2s ease,
    height 0.2s ease,
    width 0.2s ease,
    background-color 0.2s ease;
}

.active {
  margin-top: 1rem;
  visibility: visible;
  overflow: visible;
  height: 40px;
  width: 150px;
  background-color: rgb(5, 80, 80);
  opacity: 1;
  transition:
    opacity 0.2s ease,
    height 0.2s ease,
    width 0.2s ease,
    background-color 0.2s ease;
}

.active:hover {
  background-color: #1890b4;
}

.active_true {
  background-color: rgb(5, 80, 80);
}
