.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  overflow: hidden;
  padding: 20px 15px;
  background-color: #ededed;
  transition:
    width 0.5s ease,
    backgound-color 0.3s ease,
    left 0.5s ease;
  grid-row: 1 / span 3;
}

.mini-sidebar {
  width: 80px;
}

.span {
  width: 100px;
  white-space: nowrap;
  font-size: 18px;
  text-align: left;
  opacity: 1;
  color: #3d3838;
  transition:
    opacity 0.5s ease,
    width 0.5s ease;
}

/*-->Menu navegacion*/

.li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

.a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ededed;
  color: #3d3838;
}

.ionicon {
  min-width: 50px;
  font-size: 30px;
  cursor: pointer;
  height: 20px;
}
